.container {
    padding:10px;
    box-sizing: border-box;
    height: 100%;
    background: #fff;
    width:100%;
    position: absolute;
    top: 0;
    left:100px;
    overflow: auto;
    cursor: text;
    min-height: 100%;
}
.container .public-DraftEditor-content {
    height: 100%;
    overflow: auto;
}
.border-ctl{
    position: absolute;
    width:1px;
    padding-right:4px;
    height:100%;
    background-color: #ccc;
    background-clip:content-box;
    cursor:col-resize;
}
.tabs div::-webkit-scrollbar{
    height:0;
}
.tabs-content{
    padding: 5px 20px;
    height: 100%;
    outline: none;
}