.container {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 66px;
    position: fixed;
    top:0;
    background-color: #0096ef;
}
.title{
    font-family: 'Tangerine', serif;
    color: #fff;
    font-size: 40px;
    /*margin-left:15px;*/
}
.right{
    margin-left:auto;
}

.loginBtn{
}