:root {
    --topbar-height: 66px;
}
html,body{
    height:100%;
}
body{
    margin:auto;
    overflow: hidden;
}
:global #app{
    display: flex;
    height:100%;
    padding-top: 66px;
    box-sizing: border-box;
}