.container {
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%;
    background-color: #fafafa;
    overflow: auto;
}
.title{
    margin:10px 0 0 10px;
    color:#333;
}
.list{
    padding:0;
    flex:none;
}

.subList{
    margin-left: 30px;
    padding:0;
}
.list{
    margin-left:0;
}
.listItem{
    padding-top:3px;
    padding-bottom:3px;
}
.hide{
    visibility: hidden;
}
.icon{
    color:rgba(0, 0, 0, 0.54);
    margin-right: -10px;
    transition:.25s transform;
}
.icon2{
    transform: rotate(90deg);
}
.arrow{
    margin-right: 10px;
}